name: Run release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  packaging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - uses: actions/setup-node@v6
        with:
          node-version-file: ./.node-version
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --shamefully-hoist
        env:
          CI: true

      - name: Package a extention
        run: |
          pnpm run pkg
          version=$(echo "${GITHUB_REF_NAME}" | sed -E "s/v([0-9.]+)/\1/")
          file=vscode-toggle-multilingual-content-"$version".vsix
          gh release create v"$version" "$file" --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}
